@media only screen and (min-width: 810px){
  $headerfarge: #333;

  div#container{
    width: 97vw;
    height: 100vh;
  }

  header#overskrift{
    display: flex;
    justify-content: center;
    background-color: $headerfarge;
    padding: 0 20px;
    border-bottom: 1px solid white;
    margin: 0 auto;

    h1{
      color: white;
      font-size: 40px;
    }
    h2{
      color: white;
      margin-right: 40px;
      align-self: center;
    }
  }
  nav#navigasjon{
    margin: 0 auto;
    margin-top: -17px;
    background-color: #555;
    .dropdown{
      display: none;
    }
    ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    li{
      flex: 1 1 0;
      //margin: 15px 5px;
    }

    a{
      text-decoration: none;
      color: #fff;
      display: block;
      font-size: 1.3em;
      text-align: center;
      padding: 15px 10px;
      &:hover{
        background: #777;
      }
  }
  }
  main{
    margin: 0 auto;
    display: flex;
    height: 100vh;
    width: 97vw;
    flex-direction: row;
    section{
      flex: 5 1 0;
      order: 0;
      border: 1px solid black;
      margin-right: 10px;
      padding: 5px 10px;
      
      #gmap_canvas{
        border: 3px solid black;
        height: 500px;
        width: 700px;
        display: flex;
        margin: auto;
      }
    }
    aside{
      flex: 2 1 0;
      order: 1;
      border: 2px solid black;
      padding: 5px 10px;
      justify-content: space-around;
      img{
        width: 100%;
        height: auto;
      }
      div{
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 3px;
        text-align: center;
        font-weight: bold;
        img{
          height: 120px;
          width: 150px;
        }

      }
    }
  //For flex box
    aside{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  footer{
    margin: 0 auto;
    width: 97vw;
    display: flex;
    justify-content: space-around;
    background: $headerfarge;
    color: white;
  }
}
