@media only screen and (max-device-width: 700px), only screen and (max-width: 809px){
  $headerfarge: #333;
  div#container{
    width: 98vw;
    height: 98vh;
    margin: 0;
    padding: 0;
  }

  header#overskrift{
    display: flex;
    justify-content: space-between;
    background-color: $headerfarge;
    padding: 0 20px;
    border-bottom: 1px solid white;

    h1{
      color: white;
      font-size: 40px;
    }
    h2{
      color: white;
    }
    &:first-child{
      white-space:nowrap;
      order:1;
      flex: 0 1 auto;
      text-overflow: ellipsis;
      overflow:hidden;
      min-width:0;
    }
  }
  nav#navigasjon{
    margin-top: -17px;
    margin-bottom: 10px;

    .dropdown{
      z-index: -1;
      //margin-bottom: -16px;
      border-bottom: 1px solid black;
      display: flex;
      padding-right: 10px;
    }
    img{
      cursor: pointer;
    }
    .drop_show{
      display: flex;
      margin-top: -16px;
    }
    ul{
      list-style: none;
      display: none;
      flex-direction: column;
      align-items:flex-end;
      background-color: #555;
      padding-right: 10px;
      li{
        flex: 1 1 0;
        margin: 10px 0;
      }
    }
    a{
      text-decoration: none;
      color: #fff;
      display: block;
      font-size: 1.3em;
      text-align: center;
      padding: 15px 10px;
      &:hover{
        background: #777;
      }
    }
  }
  main{
    display: flex;
    height: 100vh;
    width: 98vw;
    flex-direction: column;
    border: 1px solid black;
    section{
      flex: 5 1 0;
      order: 0;
      border: 1px solid black;
      padding: 5px 10px;
    }
    aside{
      flex: 2 1 0;
      order: 1;
      border: 1px solid black;
      padding: 5px 10px;
    }
  }
  footer{
    width: 98.3vw;
    display: flex;
    justify-content: space-around;
    background: $headerfarge;
    color: white;
  }
}
@media only screen and (max-device-width: 700px){
  #container{
    header#overskrift{
      h1{
        font-size: 2em;
      }
    }
    nav#navigasjon{
      li{
        font-size: 40px;
      }
    }
    main{
      section, article{
        p{
          font-size: 30px;
        }
      }
    }
  }
}
