@media only screen and (max-device-width: 700px), only screen and (max-width: 809px) {
  div#container {
    width: 96vw;
    height: 98vh;
    margin: 0;
    padding: 0;
  }

  header#overskrift {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #333;
    padding: 0 20px;
    border-bottom: 1px solid white;
    margin: 0 auto;
  }
  header#overskrift h1 {
    color: white;
    font-size: 40px;
  }
  header#overskrift h2 {
    color: white;
  }
  header#overskrift:first-child {
    white-space: nowrap;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
  }

  nav#navigasjon {
    margin: 0 auto;
    margin-top: -17px;
    margin-bottom: 10px;
  }
  nav#navigasjon .dropdown {
    z-index: -1;
    border-bottom: 1px solid black;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
  }
  nav#navigasjon img {
    cursor: pointer;
  }
  nav#navigasjon .drop_show {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: -16px;
  }
  nav#navigasjon ul {
    list-style: none;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: #555;
    padding-right: 10px;
  }
  nav#navigasjon ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
            flex: 1 1 0;
    margin: 10px 0;
  }
  nav#navigasjon a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 1.3em;
    text-align: center;
    padding: 15px 10px;
  }
  nav#navigasjon a:hover {
    background: #777;
  }

  main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 96vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid black;
    margin: 0 auto;
  }
  main section {
    -webkit-box-flex: 5;
    -webkit-flex: 5 1 0;
        -ms-flex: 5 1 0;
            flex: 5 1 0;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    border: 1px solid black;
    padding: 5px 10px;
  }
  main aside {
    -webkit-box-flex: 2;
    -webkit-flex: 2 1 0;
        -ms-flex: 2 1 0;
            flex: 2 1 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    border: 1px solid black;
    padding: 5px 10px;
  }

  footer {
    width: 96.3vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    background: #333;
    color: white;
    margin: 0 auto;
  }
}
@media only screen and (max-device-width: 700px) {
  #container header#overskrift h1 {
    font-size: 2em;
  }
  #container nav#navigasjon li {
    font-size: 40px;
  }
  #container main section p, #container main article p {
    font-size: 30px;
  }
}
@media only screen and (min-width: 810px) {
  div#container {
    width: 97vw;
    height: 100vh;
  }

  header#overskrift {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #333;
    padding: 0 20px;
    border-bottom: 1px solid white;
    margin: 0 auto;
  }
  header#overskrift h1 {
    color: white;
    font-size: 40px;
  }
  header#overskrift h2 {
    color: white;
    margin-right: 40px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }

  nav#navigasjon {
    margin: 0 auto;
    margin-top: -17px;
    background-color: #555;
  }
  nav#navigasjon .dropdown {
    display: none;
  }
  nav#navigasjon ul {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav#navigasjon li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
            flex: 1 1 0;
  }
  nav#navigasjon a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 1.3em;
    text-align: center;
    padding: 15px 10px;
  }
  nav#navigasjon a:hover {
    background: #777;
  }

  main {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 97vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main section {
    -webkit-box-flex: 5;
    -webkit-flex: 5 1 0;
        -ms-flex: 5 1 0;
            flex: 5 1 0;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    border: 1px solid black;
    margin-right: 10px;
  }
  main aside {
    -webkit-box-flex: 2;
    -webkit-flex: 2 1 0;
        -ms-flex: 2 1 0;
            flex: 2 1 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    border: 2px solid black;
  }
  main aside {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  footer {
    margin: 0 auto;
    width: 97vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    background: #333;
    color: white;
  }
}

/*# sourceMappingURL=style.css.map */